img{
    max-height: 150px;
}
nav{
    display: flex;
    border-width: 3px;
    position: fixed;
    font-family: sans-serif;
    font-size: 30px;
    
}
body{
    background: linear-gradient(black, grey);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color: white;
}
a{
    color: white;
}